{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container mt-3 d-flex align-items-center justify-content-center">
    <div class="row border rounded-2 p-4 bg-dark">
    <h1>All Comments</h1>
    {% if comments %}
        {% for comment in comments %}
            <p>
                <img src="{{ comment.commentedGame.oyunResim.url }}" alt="Game Image" width="50">
                <strong>{{ comment.commenter.username }}</strong>: {{ comment.content }}
            </p>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}
    </div>
    </div>
{% endblock %}