{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container mt-3 d-flex align-items-center justify-content-center">
    <div class="row border rounded-2 p-4 bg-dark">
    <h1>Create a Comment for {{game.oyunIsim}}</h1>

    <form action="{% url 'create_comment' gameId %}" method="post">
        {% csrf_token %}

        <p>
            <label for="content">Comment:</label> <br><br>
            <textarea  class="form-control" name="content" id="content" rows="5" cols="40"></textarea>
        </p>

        <input type="submit" value="Create Comment">
    </form>
    </div>
    </div>
{% endblock %}