{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 d-flex align-items-center justify-content-center">
        <div class="row border rounded-2 p-4 bg-dark">

            <div class="col-4">
                <img src="{{gameItem.oyunResim.url}}" width="100%" style="border-radius: 10px;" alt="">
            </div>

            <div class="col-8">
                <h3>{{gameItem.oyunIsim}}</h3>
                <p>{{gameItem.oyunAciklama|safe}}</p>
            </div>
        </div>
    </div>
{% endblock content %}