{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caspian's Curse</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- Slick CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&family=Unbounded&display=swap" rel="stylesheet">
</head>

<body>
    
    {% include "includes/_navbar.html" %}
    
      {% if messages %}

      {% for mesaj in messages %}
      <div class="message-box">
        <div class="alert alert-{{mesaj.tags}} text-center">
          {{mesaj}}
        </div>
      </div>
      
      {% endfor %}
      
      {% else %}
      {% endif %}
    
    

    
    
    {% block content %}
    <div class="hero-image">
      <div class="hero-text">
        <h2>Welcome to Caspian's Curse</h2>
        <p>
          The ultimate online haven for gaming enthusiasts!<br><br> Our website is a treasure trove of gaming knowledge,
          where users can discover, share, and celebrate their favorite games of all time. <br><br>With an interactive and user-friendly interface, 
          Caspian's Curse invites gamers from all walks of life to upload their favorite games, upvote the titles they love, and engage in 
          passionate discussions about their gaming experiences.
        </p>

        <span id="game-count" class="navbar-text">
          Total Number of Games Added: <span id="count-placeholder"></span>
        </span>
    </div>
    </div>
    <!-- <div class="intro">

        

    </div> -->
    <h4 class="text-light text-center mt-5">List of Games Considered Best Throughout History</h4>
    <div class="container mt-0" id="results">
      <div class="row">
        {% if oyunlar|length > 0 %}
          {% for oyun in oyunlar %}
          <div class="col-3 mb-4">
            <div class="card me-4 mt-4 pt-2 text-bg-dark h-100 p-2 position-relative" style="width: 18rem;">
              <img src="{{oyun.oyunResim.url}}" class="card-img-top" style="object-fit: cover; height: 200px;" alt="{{oyun.OyunIsim}}">
              <div class="card-body">
                <h5 class="card-title">{{oyun.oyunIsim}}</h5>
                <p class="card-text">{{oyun.oyunAciklama|safe|slice:"300"}}</p>
                <a href="{% url 'details' oyun.id %}" class="position-absolute btn btn-primary mx-auto" style="bottom: 10px;">Go to Game</a>
              </div>
            </div>
          </div>
          {% endfor %}
        {% else %}
        <h2 class="text-center">No game found matching your search.</h2>
        {% endif %}
      </div>
    </div>

    <div class="container-fluid mt-5">
      <div class="row p-4 bg-dark">

          <div class="col-4">
            <div class="your-class d-flex justify-content-center">
              <div><img src="/static/foto/sifugraphics.png" alt=""></div>
              <div><img src="/static/foto/graves.png" alt=""></div>
              <div><img src="/static/foto/ow2graphics.png" alt=""></div>
            </div>
          </div>

          <div class="col-8 text-light">
              <h3>Fun Facts</h3>
              <p>Super Mario Bros., one of the most iconic video games of all time, was released in 1985. It introduced many gameplay mechanics that became staples of the platforming genre and catapulted Nintendo's success in the gaming industry.
                <br><br>
                The first video game to feature a save function was The Legend of Zelda, released in 1986. It allowed players to save their progress and continue the adventure later—a groundbreaking feature at the time.
                <br><br> 
                The Pokémon franchise, which began with Pokémon Red and Green in 1996, has become the highest-grossing media franchise of all time. It includes video games, trading card games, an animated series, movies, and various merchandise.
                <br><br> 
                The PlayStation 2, released in 2000, is the best-selling video game console to date, with over 155 million units sold worldwide. It had a vast game library and significantly impacted the gaming industry.</p>
          </div>
      </div>
  </div>
    
    {% endblock content %}
    
    <footer>
            <ul class="left">
                <li><a href="/">Home</a></li>
                {% if user.is_authenticated %}
                <li><a href="/">{{request.user}}</a></li>
                {% else %}
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}               
                <li><a href="/">Games</a></li>
                <li></li>
                <li></li>
            </ul>

            <ul class="right">
                <li><a href="#">Caspian's Curse</a></li>
            </ul>
        </footer>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <!-- JQuery -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
        <!-- Slick JS -->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!-- Main JS -->
        <script src="/static/main.js"></script>
</body>

</html>