{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
        <form action="" method="POST" class="w-50 m-auto border p-4 rounded-2">
            {% csrf_token %}
            <label for="">Username:</label>
            <input type="text" name="kullanici" class="form-control">
            <label for="">Password:</label>
            <input type="password" name="sifre" class="form-control">
            <input type="submit" value="Login" class="btn btn-primary form-control mt-2">
        </form>
    </div>
{% endblock content %}